In [5]:
#we established the loop from 1 to 10
for x in range(1,11):
    print(x) #print the result

1
2
3
4
5
6
7
8
9
10

In [6]:
# taking the list
numbers = [1, 2, 3, 4, 5]
sum_result = 0
#priting the list elemnt
for num in numbers:
    sum_result += num

print("Sum:", sum_result)

Sum: 15

In [7]:
#list example
my_string = "Hello, World!"
# accessing the element using the for loop
for char in reversed(my_string):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

In [12]:
#taking number as input
num=int(input("Enter the number:"))
fact=1
if num >0:
    #use loop to find factorial
    for i in range(1,num+1):
        fact=fact*i #store the reult
    print (fact)
else:
    print ("not possible")

Enter the number: 5

120

In [14]:
#taking number as input
num = int(input("Enter the number"))
#printing thr results
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter the number 9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [15]:
# example list
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
#initialize the count of odd and even by 0

even_count = 0
odd_count = 0
#use for loop to count the numbers
for num in numbers_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
#print the result
print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 4
Odd numbers: 5

In [16]:
# use range to keep the value upto 5
for i in range(1, 6):
    square = i ** 2
    print(f"{i} squared is {square}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [17]:
#take the string
input_string = "Hello, World!"
length = 0
#count the length and increase it in each loop
for char in input_string:
    length += 1

print("Length:", length)

Length: 13

In [18]:
# take the string
numbers = [1, 2, 3, 4, 5]
sum_result = 0
#calculate the total sum 
for num in numbers:
    sum_result += num
# find the average
average = sum_result / len(numbers)
print("Average:", average)

Average: 3.0

In [19]:
#give the input as five
n = 5
fibonacci_sequence = [0, 1]
#take the loop to print first n fibonacci 

for i in range(2, n):
    next_fibonacci = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_fibonacci)

print("Fibonacci Sequence:", fibonacci_sequence)

Fibonacci Sequence: [0, 1, 1, 2, 3]

In [22]:
# Task 11
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

my_list = [1, 2, 3, 4, 5, 1]
print("Has Duplicates:", has_duplicates(my_list))

Has Duplicates: True

In [25]:
# define a function
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num*0.5) + 1):
        if num % i == 0:
            return False
    return True
#give the range of the numbers
start_range = 1
end_range = 20

print("Prime Numbers:")
for number in range(start_range, end_range + 1):
    if is_prime(number):
        print(number)

Prime Numbers:
2
3
5
7
11
13
17
19

In [29]:
#take the string as an example
input_string = "Hello, World!"
vowels = "aeiouAEIOU"# take the set of vowels in string
count = 0

for char in input_string:
    if char in vowels:
        count += 1

print("Number of Vowels:", count)

Number of Vowels: 3

In [30]:
# take the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
max_element = matrix[0][0]
#use loop to check the maximum 
for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

print("Maximum Element:", max_element)

Maximum Element: 9

In [35]:
# Task 15
original_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2

filtered_list = [i for i in original_list if i!=element_to_remove]

print("Original List:", original_list)
print("List after removing", element_to_remove, ":", filtered_list)

Original List: [1, 2, 3, 4, 2, 5, 2]
List after removing 2 : [1, 3, 4, 5]

In [36]:
# take the for loop
for i in range(1, 6):
    print(f"\nMultiplication table for {i}:")
    for j in range(1, 11): #use another loop to print the elemrnts
        
        result = i * j
        print(f"{i} x {j} = {result}")

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [37]:
# take both the list
fahrenheit_temps = [32, 68, 100, 212]
celsius_temps = []
#convert each elemnt to celcius

for temp in fahrenheit_temps:
    celsius = (temp - 32) * 5/9
    celsius_temps.append(celsius)
# atlast print the reults
print("Fahrenheit Temperatures:", fahrenheit_temps)
print("Celsius Temperatures:", celsius_temps)

Fahrenheit Temperatures: [32, 68, 100, 212]
Celsius Temperatures: [0.0, 20.0, 37.77777777777778, 100.0]

In [38]:
# take both the lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
#common element stored in the list
common_elements = [item for item in list1 if item in list2]
#print the result

print("Common Elements:", common_elements)

Common Elements: [3, 4, 5]

In [40]:
#for loop to print the * pattern
for i in range(1,5):
    print("*"*i)

*
**
***
****

In [41]:
# take a function name it gcd
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
#take the two numbers
num1 = 24
num2 = 36

print("Greatest Common Divisor:", gcd(num1, num2))

Greatest Common Divisor: 12

In [3]:
# take a list 
numbers = [123, 456, 789]
#apply the loop and store the element the the list
digit_sum_list = [sum(int(digit) for digit in str(number)) for number in numbers]

print("Digit Sums:", digit_sum_list)

Digit Sums: [6, 15, 24]

In [4]:
# Task 22
def prime_factors(num):
    factors = [factor for factor in range(2, num + 1) if num % factor == 0 and all(factor % i != 0 for i in range(2, factor))]
    return factors

number = 36
prime_factors_list = prime_factors(number)

print("Prime Factors of", number, ":", prime_factors_list)

Prime Factors of 36 : [2, 3]

In [1]:
# Original list cteated
original_list = [1, 2, 2, 3, 4, 4, 5]
#create a  list of required elemnts
unique_elements = list(set(original_list))
#print the required

print("Original List:", original_list)
print("Unique Elements:", unique_elements)

Original List: [1, 2, 2, 3, 4, 4, 5]
Unique Elements: [1, 2, 3, 4, 5]

In [44]:
# provide a limit to the program
limit = 100
#create the palindromic list
palindromic_numbers = [num for num in range(limit + 1) if str(num) == str(num)[::-1]]

print("Palindromic Numbers up to", limit, ":", palindromic_numbers)

Palindromic Numbers up to 100 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [8]:
# created the nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#create the flattenned list
flattened_list = [item for sublist in nested_list for item in sublist]

print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# create a required list
list1=[1,2,3,4,5,6,7,8,9]
#sum the even and odd numbers separetly
sum_ofeven=sum(i for i in list1 if i%2==0)
sum_ofodd=sum(i for i in list1 if i%2!=0)
print("The sum of even numbers in the list is :", sum_ofeven)
print("The sum of odd numbers in the list is :",sum_ofodd)

The sum of even numbers in the list is : 20
The sum of odd numbers in the list is : 25

In [12]:
#create a list named square using loop and store the value

square=[i*i for i in range(1,11) if i%2!=0 ]
print(square)

[1, 9, 25, 49, 81]

In [45]:
# take two list
keys = ['a', 'b', 'c']
values = [1, 2, 3]
#combine them using the zip function
combined_dict = {key: value for key, value in zip(keys, values)}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [6]:
#take a example string
string="Hello welcome to my world!"
#take a list of vowels
vowels=['a','e','i','o','u']
#create the required list
list=[letter for char in string for letter in char if letter in vowels]
#print the list
print("The required list is :",list)

The required list is : ['e', 'o', 'e', 'o', 'e', 'o', 'o']

In [4]:
#take a example string
string=["abc","123",'ljf','4555']
#create the required list
newlist=[int(j) for i in string for j in i if j.isdigit()]
#print the list
print("ORIGINAL LIST\n",string)
print("Required string \n",newlist)

ORIGINAL LIST
 ['abc', '123', 'ljf', '4555']
Required string
 [1, 2, 3, 4, 5, 5, 5]

In [43]:

limit = 50

sieve = [True] * (limit + 1)
sieve[0], sieve[1] = False, False

primes = [num for num in range(2, int(limit**0.5) + 1) if sieve[num] for multiple in range(num**2, limit + 1, num)]

print("Prime Numbers up to", limit, ":", [num for num in range(2, limit + 1) if sieve[num] and num not in primes])

Prime Numbers up to 50 : [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [14]:
# give the limit 
limit = 30
# Create a list of triplet
pythagorean_triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]

print("Pythagorean Triplets up to", limit, ":", pythagorean_triplets)

Pythagorean Triplets up to 30 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

In [15]:
# create two list
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
#create a loop for all possible outcomes
combinations = [(x, y) for x in list1 for y in list2]

print("Combinations of", list1, "and", list2, ":", combinations)

Combinations of [1, 2, 3] and ['a', 'b', 'c'] : [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [16]:
#import the library
import statistics
#numbers , a list is taken 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#mean mode and median is calulated
mean = sum(numbers) / len(numbers)
median = statistics.median(numbers)
mode = statistics.mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 5.5
Median: 5.5
Mode: 1

In [4]:
# Task 35
rows = 5
pascals_triangle = [[1] + [pascals_triangle[row - 1][i - 1] + pascals_triangle[row - 1][i] for i in range(1, row)] + [1] for row in range(1, rows + 1)]

print("Pascal's Triangle up to", rows, "rows:", pascals_triangle)

IndexError: list index out of range

In [22]:
# import the math lib
import math
#store the sum in the list
factorials_digit_sum = [sum(int(digit) for i in range (1,6) for digit in str(math.factorial(i)))]

print("Digit Sums of Factorials:", factorials_digit_sum)

Digit Sums of Factorials: [18]

In [28]:
# create a string
sentence = "This is a sample sentence for the longest word program."
#fetch the largest using the split function and then using max
longest_word = max([word.strip(",") for word in sentence.split()],key=len)

print("Longest Word:", longest_word)

Longest Word: sentence

In [31]:
list1=["hello",'welcome','debasish','modi','aeiou','aeiouaeiou']
new=[i for i in list1 if (sum(1 for j in i  if j.lower() in "aeiou")>3)]
print("The rquired list is:", new)

The rquired list is: ['aeiou', 'aeiouaeiou']

In [41]:
#create a list using list comprehension 
sumlist=[sum(int(j)for j in str(i)) for i in range(1,101)]
#print it
print("THe sum of the digit of the numbers are\n",sumlist)

THe sum of the digit of the numbers are
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1]

In [42]:
# create a function to check prime number
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num*0.5) + 1):
        if num % i == 0:
            return False
    return True

#provide the limit
limit = 100
#create a prime palindrome list
prime_palindromes = [num for num in range(2, limit) if is_prime(num) and str(num) == str(num)[::-1]]

print("Prime Palindromic Numbers up to", limit, ":", prime_palindromes)

Prime Palindromic Numbers up to 100 : [2, 3, 5, 7, 11]